body{
    background-color: rgb(98, 98, 98);
    width: 100%;
    height: 100%;

}
nav{
    background-color: goldenrod;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.link{
    text-decoration: none;
    font-size: 35px;
    color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;

}

.link:hover{
    font-weight: 100;
    color: aqua;
}

.text{
    border: 3px solid goldenrod;
    width: 40%;
    height: 70%;
    color: snow;
    text-align: left;
    font-size: 40px;
    margin: 30px;
    border-radius: 50px;
    padding: 20px;
}

#contact{
    width: 80%;
    background-color: rgba(200,20,60, 0.7);
    color: snow;
    text-align: center;
    font-size: 40px;
    border-radius: 60px;
}

footer{
    color: goldenrod;
    text-align: center;
    height: 30px;
    margin-top: 100px;
    color: snow;
    }